<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Gramar Production Editor"
            extensions="prod"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.gramar.eclipse.ui.editors.ProdEditor"
            id="org.gramar.eclipse.ui.editors.ProdEditor">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="org.gramar.eclipse.ui.contribution1">
         <action
               class="org.gramar.eclipse.ui.popup.actions.ApplyGramar"
               enablesFor="1"
               id="org.gramar.eclipse.ui.ApplyGramar"
               label="Apply Gramar..."
               menubarPath="additions"
               >
         </action>
      </objectContribution>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="org.gramar.eclipse.ui.contribution2">
         <action
               class="org.gramar.eclipse.ui.popup.actions.RunGramarConfiguration"
               enablesFor="1"
               id="org.gramar.eclipse.ui.RunGramarConfiguration"
               label="Run Gramar Config"
               menubarPath="additions"
               >
         </action>
      </objectContribution>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            id="org.gramar.eclipse.ui.contribution3">
         <action
               class="org.gramar.eclipse.ui.popup.actions.MigrateJetTransform"
               enablesFor="1"
               id="org.gramar.eclipse.ui.migrateJetTransform"
               label="Migrate JET Transform"
               menubarPath="additions"
               >
         </action>
      </objectContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.gramar.eclipse.ui"
            name="Gramars">
      </category>
      <wizard
            category="org.gramar.eclipse.ui"
            class="org.gramar.eclipse.ui.wizards.NewGramarWizard"
            icon="icons/sample.gif"
            id="org.gramar.eclipse.ui.wizards.NewGramarWizard"
            name="Gramar">
      </wizard>
   </extension>

</plugin>
