<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Gramar Production Editor"
            extensions="prod"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.gramar.eclipse.ui.editors.ProdEditor"
            id="org.gramar.eclipse.ui.editors.ProdEditor">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="org.gramar.eclipse.ui.contribution1">
         <menu
               label="Gramar"
               path="additions"
               id="org.gramar.eclipse.ui.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Apply Gramar"
               class="org.gramar.eclipse.ui.popup.actions.ApplyGramar"
               menubarPath="org.gramar.eclipse.ui.menu1/group1"
               enablesFor="1"
               id="org.gramar.eclipse.ui.newAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
