<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="deploy" name="deploy" schema="schema/eclipse.exsd"/>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Gramar Production Editor"
            extensions="prod"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.gramar.eclipse.ui.editors.ProdEditor"
            id="org.gramar.eclipse.ui.editors.ProdEditor">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="org.gramar.eclipse.ui.contribution1">
         <action
               class="org.gramar.eclipse.ui.popup.actions.ApplyGramar"
               enablesFor="1"
               id="org.gramar.eclipse.ui.ApplyGramar"
               label="Apply Gramar..."
               menubarPath="additions"
               >
         </action>
      </objectContribution>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="org.gramar.eclipse.ui.contribution2">
         <action
               class="org.gramar.eclipse.ui.popup.actions.RunGramarConfiguration"
               enablesFor="1"
               id="org.gramar.eclipse.ui.RunGramarConfiguration"
               label="Run Gramar Config"
               menubarPath="additions"
               >
         </action>
      </objectContribution>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            id="org.gramar.eclipse.ui.contribution3">
         <action
               class="org.gramar.eclipse.ui.popup.actions.MigrateJetTransform"
               enablesFor="1"
               id="org.gramar.eclipse.ui.migrateJetTransform"
               label="Migrate JET Transform"
               menubarPath="additions"
               >
         </action>
      </objectContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.gramar.eclipse.ui"
            name="Gramars">
      </category>
      <wizard
            category="org.gramar.eclipse.ui"
            class="org.gramar.eclipse.ui.wizards.NewGramarWizard"
            icon="icons/sample.gif"
            id="org.gramar.eclipse.ui.wizards.NewGramarWizard"
            name="Gramar"
            project="true">
      </wizard>
      <wizard
            category="org.gramar.eclipse.ui"
            class="org.gramar.eclipse.ui.wizards.NewModelWizard"
            icon="icons/sample.gif"
            id="org.gramar.eclipse.ui.wizards.NewModelWizard"
            name="Sample Model"
            project="false">
      </wizard>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Gramars Navigator"
            icon="icons/sample.gif"
            class="org.gramar.eclipse.navigator.GramarsNavigator"
            id="org.gramar.eclipse.navigator">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="com.example.test">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="com.example.test">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.navigator.ProjectExplorer"
               relationship="stack"
               id="com.example.test">
         </view>
      </perspectiveExtension>
   </extension>
   

</plugin>
