<extension>

	<id>org.gramar.base</id>
	<label>Base Gramar extension</label>
	<provider>gramar.org</provider>

	<tags>
	
		<tag  name="addElement" 	handler="org.gramar.base.tag.AddElementTag"		controlTag="false" />
		<tag  name="addTextElement"	handler="org.gramar.base.tag.AddTextElementTag"	controlTag="false" />
		<tag  name="choose" 		handler="org.gramar.base.tag.ChooseTag"			controlTag="false" />
		<tag  name="file" 			handler="org.gramar.base.tag.FileTag"			controlTag="false" />
		<tag  name="folder" 		handler="org.gramar.base.tag.FolderTag"			controlTag="false" />
		<tag  name="project" 		handler="org.gramar.base.tag.ProjectTag"		controlTag="false" />
		<tag  name="dump"		 	handler="org.gramar.base.tag.DumpTag"			controlTag="true" />
		<tag  name="if"			 	handler="org.gramar.base.tag.IfTag"				controlTag="true" />
		<tag  name="initialCode"	handler="org.gramar.base.tag.InitialCodeTag"	controlTag="false" />
		<tag  name="include"		handler="org.gramar.base.tag.IncludeTag"		controlTag="true" />
		<tag  name="get" 			handler="org.gramar.base.tag.GetTag"  			controlTag="false" />
		<tag  name="iterate" 		handler="org.gramar.base.tag.IterateTag"		controlTag="true" />
		<tag  name="loadContent"	handler="org.gramar.base.tag.LoadContentTag"	controlTag="false" />
		<tag  name="otherwise" 		handler="org.gramar.base.tag.OtherwiseTag"		controlTag="false" />
		<tag  name="set" 			handler="org.gramar.base.tag.SetTag"  			controlTag="false" />
		<tag  name="setVariable"	handler="org.gramar.base.tag.SetVariableTag"	controlTag="true" />
		<tag  name="userRegion"		handler="org.gramar.base.tag.UserRegionTag"		controlTag="false" />
		<tag  name="when" 			handler="org.gramar.base.tag.WhenTag"			controlTag="false" />
		
	</tags>

	<functions>
	
		<function name="camelCase" parms="1" variableNumber="false" impl="org.gramar.base.function.CamelCaseFunction" />
		<function name="cardinality" parms="1" variableNumber="false" impl="org.gramar.base.function.CardinalityFunction" />
		<function name="className" parms="1" variableNumber="false" impl="org.gramar.base.function.ClassNameFunction" />
		<function name="isVariableDefined" parms="1" variableNumber="false" impl="org.gramar.base.function.IsVariableDefinedFunction" />
		<function name="lowercaseFirst"  parms="1" variableNumber="false" impl="org.gramar.base.function.LowercaseFirstFunction"/>
		<function name="lower-case"  parms="1" variableNumber="false" impl="org.gramar.base.function.LowercaseFunction"/>
		<function name="packageName"  parms="1" variableNumber="false" impl="org.gramar.base.function.PackageNameFunction"/>
		<function name="uppercaseFirst"  parms="1" variableNumber="false" impl="org.gramar.base.function.UppercaseFirstFunction"/>
		<function name="upper-case"  parms="1" variableNumber="false" impl="org.gramar.base.function.UppercaseFunction"/>
	
	</functions>

</extension>