<extension>

	<id>com.gerkenip.archigram.core.tag</id>
	<label>Core extension</label>
	<provider>Chris Gerken</provider>

	<tags>
	
		<tag  name="get" 		handler="org.gramar.base.GetTag"  		controlTag="false" />
		<tag  name="createFile" handler="org.gramar.base.CreateFileTag"	controlTag="false" />
		
	</tags>

	<functions>
	
		<function name="fred"  impl="org.gramar.base.FredFunction"/>
	
	</functions>

</extension>