<extension>

	<id>com.gerkenip.archigram.core.tag</id>
	<label>Base Gramar extension</label>
	<provider>Chris Gerken</provider>

	<tags>
	
		<tag  name="addElement" 	handler="org.gramar.base.tag.AddElementTag"		controlTag="false" />
		<tag  name="addTextElement"	handler="org.gramar.base.tag.AddTextElementTag"	controlTag="false" />
		<tag  name="createFile" 	handler="org.gramar.base.tag.CreateFileTag"		controlTag="false" />
		<tag  name="createFolder" 	handler="org.gramar.base.tag.CreateFileTag"		controlTag="false" />
		<tag  name="createProject" 	handler="org.gramar.base.tag.CreateFileTag"		controlTag="false" />
		<tag  name="get" 			handler="org.gramar.base.tag.GetTag"  			controlTag="false" />
		<tag  name="iterate" 		handler="org.gramar.base.tag.IterateTag"		controlTag="true" />
		<tag  name="set" 			handler="org.gramar.base.tag.SetTag"  			controlTag="false" />
		<tag  name="setVariable"	handler="org.gramar.base.tag.SetVariableTag"	controlTag="true" />
		
	</tags>

	<functions>
	
		<function name="uppercaseFirst"  parms="1" variableNumber="false" impl="org.gramar.base.function.UppercaseFirstFunction"/>
	
	</functions>

</extension>