<gramar>

	<id>org.gramar.basic.gramar</id>
	<label>Basic Gramar project</label>
	<provider>org.gramar</provider>
	<main>main.prod</main>

	<taglibs>
	
		<taglib  prefix="d" extension="org.gramar.base" />
		
	</taglibs>

	<sampleModels>
	
		<sampleModel name="empty"  path="model.xml"  description="Blank sample model" />  
	
	</sampleModels>
	
</gramar>