<extension>

	<id>some.java.package.name</id>
	<label>Some short, descriptive label</label>
	<provider></provider>

	<tags>
	
		<tag  name="tag-name" handler="com.gerkenip.archigram.core.tag.GetTag" control="false"  />
		
	</tags>

	<functions>
	
		<function name=""  parms=""  variableParms=""  impl="some.fully.qualified.class.name"/>
	
	</functions>

	<filestores>
	
		<filestore id=""  impl="some.fully.qualified.class.name"/>
	
	</filestores>

</extension>