<gramar>

	<id>some.java.package.name</id>
	<label>Some short, descriptive label</label>
	<provider></provider>
	<main>main.prod</main>

	<taglibs>
	
		<taglib  prefix="c" extension="org.gramar.base" />
		
	</taglibs>
	
	<sampleModels>
	
		<sampleModel  path=""  description=""  />
	
	</sampleModels>

</gramar>